@use '../../../styles/variables' as *;
.app-layout{display:flex;min-height:100vh}
.app-layout__content{flex:1;margin-top:$th;padding:2rem 1.5rem;min-height:calc(100vh - $th);background:#030409;opacity:0;transform:translateY(6px);transition:opacity .25s ease-out,transform .25s ease-out}@media(min-width:1024px){.app-layout__content{margin-left:$sw}}.app-layout__content--visible{opacity:1;transform:none}
